<!-- ==================== Mobile Menu Start Here ==================== -->
<div class="mobile-menu d-lg-none d-block scroll-sm position-fixed bg-white tw-w-300-px tw-h-screen overflow-y-auto tw-p-6 tw-z-999 tw--translate-x-full tw-pb-68 ">

    <button type="button" class="close-button position-absolute tw-end-0 top-0 tw-me-2 tw-mt-2 tw-w-605 tw-h-605 rounded-circle d-flex justify-content-center align-items-center text-neutral-900 bg-neutral-200 hover-bg-neutral-900 hover-text-white"> 
        <i class="ph ph-x"></i>
    </button>

    <div class="mobile-menu__inner">
        <a href="index.html" class="mobile-menu__logo">
            <img src="assets/images/logo/logo.png" alt="Logo">
        </a>
        <div class="mobile-menu__menu">
            <!-- Nav menu Start -->
<ul class="nav-menu d-lg-flex align-items-center nav-menu--mobile d-block tw-mt-8 bg-white tw-px-12 tw-rounded-4xl">
    <li class="nav-menu__item has-submenu position-relative activePage">
        <a href="javascript:void(0)" class="nav-menu__link tw-pe-5 text-main-600 tw-py-3 fw-medium w-100 font-dmsans fw-medium">Home</a>
        <ul class="nav-submenu scroll-sm position-absolute start-0 top-100 tw-w-max bg-white overflow-hidden tw-p-2 tw-mt-1 tw-duration-200 tw-z-99">
            <li class="nav-menu__item activePage">
                <a href="index.html" class="nav-submenu__link text-main-600 fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded font-dmsans fw-medium"> Home One</a>
            </li>
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                <a href="index-2.html" class="nav-submenu__link text-main-600 fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded font-dmsans fw-medium"> Home Two</a>
            </li>
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                <a href="index-3.html" class="nav-submenu__link text-main-600 fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded font-dmsans fw-medium"> Home Three</a>
            </li>
        </ul>
    </li>
    <li class="nav-menu__item has-submenu position-relative">
        <a href="javascript:void(0)" class="nav-menu__link tw-pe-5 text-main-600 tw-py-3 fw-medium w-100 font-dmsans fw-medium">Tour Packages</a>
        <ul class="nav-submenu scroll-sm position-absolute start-0 top-100 tw-w-max bg-white overflow-hidden tw-p-2 tw-mt-1 tw-duration-200 tw-z-99">
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                <a href="package.html" class="nav-submenu__link text-main-600 fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded font-dmsans fw-medium"> Tour Package </a>
            </li>
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                <a href="package-v2.html" class="nav-submenu__link text-main-600 fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded font-dmsans fw-medium"> Tour Package V2 </a>
            </li>
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                <a href="package-details.html" class="nav-submenu__link text-main-600 fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded font-dmsans fw-medium"> Tour Package Details</a>
            </li>
        </ul>
    </li>
    <li class="nav-menu__item has-submenu position-relative">
        <a href="javascript:void(0)" class="nav-menu__link tw-pe-5 text-main-600 tw-py-3 fw-medium w-100 font-dmsans fw-medium">Customize Your Trip</a>
        <ul class="nav-submenu scroll-sm position-absolute start-0 top-100 tw-w-max bg-white overflow-hidden tw-p-2 tw-mt-1 tw-duration-200 tw-z-99">
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                <a href="destination.html" class="nav-submenu__link text-main-600 fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded font-dmsans fw-medium"> Destination </a>
            </li>
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                <a href="destination-details.html" class="nav-submenu__link text-main-600 fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded font-dmsans fw-medium">Destination Details</a>
            </li>
        </ul>
    </li>
    <li class="nav-menu__item has-submenu position-relative">
        <a href="javascript:void(0)" class="nav-menu__link tw-pe-5 text-main-600 tw-py-3 fw-medium w-100 font-dmsans fw-medium">Rent a car</a>
        <ul class="nav-submenu scroll-sm position-absolute start-0 top-100 tw-w-max bg-white overflow-hidden tw-p-2 tw-mt-1 tw-duration-200 tw-z-99">
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                <a href="blog.html" class="nav-submenu__link text-main-600 fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded font-dmsans fw-medium"> Car Rental</a>
            </li>
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                <a href="blog-details.html" class="nav-submenu__link text-main-600 fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded font-dmsans fw-medium"> Rental Details</a>
            </li>
        </ul>
    </li>
    <li class="nav-menu__item has-submenu position-relative">
        <a href="javascript:void(0)" class="nav-menu__link tw-pe-5 text-main-600 tw-py-3 fw-medium w-100 font-dmsans fw-medium">About</a>
        <ul class="nav-submenu scroll-sm position-absolute start-0 top-100 tw-w-max bg-white overflow-hidden tw-p-2 tw-mt-1 tw-duration-200 tw-z-99">
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                <a href="about.html" class="nav-submenu__link text-main-600 fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded font-dmsans fw-medium"> About Us</a>
            </li>
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                <a href="team.html" class="nav-submenu__link text-main-600 fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded font-dmsans fw-medium"> Team </a>
            </li>
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                <a href="team-details.html" class="nav-submenu__link text-main-600 fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded font-dmsans fw-medium"> Team Details </a>
            </li>
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                <a href="gallary.html" class="nav-submenu__link text-main-600 fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded font-dmsans fw-medium"> Gallery </a>
            </li>
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                <a href="faq.html" class="nav-submenu__link text-main-600 fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded font-dmsans fw-medium"> FAQ </a>
            </li>
        </ul>
    </li>
    <li class="nav-menu__item">
        <a href="contact.html" class="nav-menu__link text-main-600 tw-py-3 fw-medium w-100 font-dmsans">Contact</a>
    </li>
</ul>
<!-- Nav menu End  -->
        </div>
    </div>
</div>
<!-- ==================== Mobile Menu End Here ==================== -->

<!-- ==================== Header Start Here ==================== -->
<header class="header header-two transition-all">
    <div class="container-fluid">
        <nav class="d-flex align-items-center justify-content-between">
            <!-- Logo Start -->
            <div class="logo">
                <a href="index.html" class="link">
                    <img src="assets/images/logo/logo.png" alt="Logo" class="max-w-200-px">
                </a>
            </div>
            <!-- Logo End  -->

            <!-- Menu Start  -->
            <div class="header-menu header-two-menu d-lg-block d-none">
                <!-- Nav menu Start -->
<ul class="nav-menu d-lg-flex align-items-center tw-gap-6">
    <li class="nav-menu__item has-submenu position-relative activePage">
        <a href="javascript:void(0)" class="nav-menu__link tw-pe-5 text-main-600 tw-py-3 fw-medium w-100 font-dmsans fw-medium">Home</a>
        <ul class="nav-submenu scroll-sm position-absolute start-0 top-100 tw-w-max bg-white tw-rounded-md overflow-hidden tw-p-2 tw-mt-1 tw-duration-200 tw-z-99">
            <li class="nav-menu__item activePage">
                <a href="index.html" class="nav-submenu__link   text-main-600 fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded font-dmsans fw-medium"> Home One</a>
            </li>
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                <a href="index-2.html" class="nav-submenu__link   text-main-600 fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded font-dmsans fw-medium"> Home Two</a>
            </li>
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                <a href="index-3.html" class="nav-submenu__link   text-main-600 fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded font-dmsans fw-medium"> Home Three</a>
            </li>
        </ul>
    </li>
    <li class="nav-menu__item has-submenu position-relative">
        <a href="javascript:void(0)" class="nav-menu__link tw-pe-5 text-main-600 tw-py-3 fw-medium w-100 font-dmsans fw-medium">Tour Packages</a>
        <ul class="nav-submenu scroll-sm position-absolute start-0 top-100 tw-w-max bg-white tw-rounded-md overflow-hidden tw-p-2 tw-mt-1 tw-duration-200 tw-z-99">
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                <a href="package.html" class="nav-submenu__link   text-main-600 fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded font-dmsans fw-medium"> Tour Package </a>
            </li>
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                <a href="package-v2.html" class="nav-submenu__link   text-main-600 fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded font-dmsans fw-medium"> Tour Package V2 </a>
            </li>
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                <a href="package-details.html" class="nav-submenu__link   text-main-600 fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded font-dmsans fw-medium"> Tour Package Details</a>
            </li>
        </ul>
    </li>
    <li class="nav-menu__item has-submenu position-relative">
        <a href="javascript:void(0)" class="nav-menu__link tw-pe-5 text-main-600 tw-py-3 fw-medium w-100 font-dmsans fw-medium">Customize Your Trip</a>
        <ul class="nav-submenu scroll-sm position-absolute start-0 top-100 tw-w-max bg-white tw-rounded-md overflow-hidden tw-p-2 tw-mt-1 tw-duration-200 tw-z-99">
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                <a href="destination.html" class="nav-submenu__link   text-main-600 fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded font-dmsans fw-medium"> Destination </a>
            </li>
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                <a href="destination-details.html" class="nav-submenu__link   text-main-600 fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded font-dmsans fw-medium">Destination Details</a>
            </li>
        </ul>
    </li>
    <li class="nav-menu__item has-submenu position-relative">
        <a href="javascript:void(0)" class="nav-menu__link tw-pe-5 text-main-600 tw-py-3 fw-medium w-100 font-dmsans fw-medium">Rent a car</a>
        <ul class="nav-submenu scroll-sm position-absolute start-0 top-100 tw-w-max bg-white tw-rounded-md overflow-hidden tw-p-2 tw-mt-1 tw-duration-200 tw-z-99">
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                <a href="blog.html" class="nav-submenu__link   text-main-600 fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded font-dmsans fw-medium"> Car Rental</a>
            </li>
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                <a href="blog-details.html" class="nav-submenu__link   text-main-600 fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded font-dmsans fw-medium"> Rental Details</a>
            </li>
        </ul>
    </li>
    <li class="nav-menu__item has-submenu position-relative">
        <a href="javascript:void(0)" class="nav-menu__link tw-pe-5 text-main-600 tw-py-3 fw-medium w-100 font-dmsans fw-medium">About</a>
        <ul class="nav-submenu scroll-sm position-absolute start-0 top-100 tw-w-max bg-white tw-rounded-md overflow-hidden tw-p-2 tw-mt-1 tw-duration-200 tw-z-99">
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                <a href="about.html" class="nav-submenu__link   text-main-600 fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded font-dmsans fw-medium"> About Us</a>
            </li>
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                <a href="team.html" class="nav-submenu__link   text-main-600 fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded font-dmsans fw-medium"> Team </a>
            </li>
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                <a href="team-details.html" class="nav-submenu__link   text-main-600 fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded font-dmsans fw-medium"> Team Details </a>
            </li>
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                <a href="gallary.html" class="nav-submenu__link   text-main-600 fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded font-dmsans fw-medium"> Gallery </a>
            </li>
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                <a href="faq.html" class="nav-submenu__link   text-main-600 fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded font-dmsans fw-medium"> FAQ </a>
            </li>
        </ul>
    </li>
    <li class="nav-menu__item">
        <a href="contact.html" class="nav-menu__link text-main-600 tw-py-3 fw-medium w-100 font-dmsans">Contact</a>
    </li>
</ul>
<!-- Nav menu End  -->
            </div>
            <!-- Menu End  -->

            <!-- Header Right start -->
            <div class="">
                <div class="d-flex align-items-center tw-gap-29">
                    <div class="header-button">
                        <a class="primary-btn bg-white text-main-600 tw-py-5 tw-px-10 fs-15 text-uppercase fw-bold font-heading tw-gap-2 d-inline-flex align-items-center tw-rounded-4xl" href="contact.html">Contact Us <i class="ph ph-arrow-up-right"></i></a>
                    </div>
                </div>
            </div>
            <button type="button" class="toggle-mobileMenu leading-none d-lg-none ms-3 text-neutral-800 tw-text-9">
                <i class="ph ph-list"></i>
            </button>
            <!-- Header Right End  -->
        </nav>
    </div>
</header>
<!-- ==================== Header End Here ==================== -->